
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header col-sm-12">
      <p ng-if="model.currentUser._id"
         class="navbar-text pull-left">
        <a class="navbar-link"
           href="#!/profile/runeCollections">
          <span class="white">Runes</span>
        </a>
      </p>
      <p ng-if="model.currentUser._id"
         class="navbar-text pull-left">
        <a class="navbar-link"
           href="#!/profile/masteryCollections">
          <span class="white">Masteries</span>
        </a>
      </p>
      <p ng-if="model.currentUser._id"
         class="navbar-text pull-left">
        <a class="navbar-link"
           href="#!/user/following">
          <span class="white">followings</span>
        </a>
      </p>

      <p ng-if="!model.currentUser._id"
         class="navbar-text pull-left">
        <a class="navbar-link"
           href="#!/login">
          <span class="white">
            login
          </span>
        </a>
      </p>
      <p ng-if="!model.currentUser._id"
         class="navbar-text pull-left">
        <a href="#!/register"
           class="navbar-link">
          <span class="white">
            register
          </span>
        </a>
      </p>
      <p ng-if="model.currentUser._id"
         class="navbar-text pull-left">
        <a href="#!/profile"
           class="navbar-link">
          <span class="white">
            profile
          </span>
        </a>
      </p>
      <p class="navbar-text pull-left">
        <a TARGET="_blank" href="https://docs.google.com/document/d/1ppyMWIf9yjQ3Hq53VZAtBLAmc_j6pp7ZcirVX-eO-30/edit?usp=sharing"
           class="navbar-link">
          <span class="white">
            about
          </span>
        </a>
      </p>
    </div>
  </div>
</nav>

<img src="/assignment/views/home/templates/LOLIcon.png" alt="icon" width="600" height="170">

<div>
  <div class="input-group">
    <label for="search"></label>
    <input ng-model="searchText"
           type="text"
           id="search"
           class="form-control"
           placeholder="search summoner">
    <span class="input-group-btn">
      <a ng-click="model.searchSummoner(searchText)" class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </a>
    </span>
  </div>
  </div>

<div class="container-fluid">
  <div ng-if="model.summoner">
    <ul class="list-group">
      <li class="full-width list-group-item active">
        <div class="row">
          <div class="col-sm-2 col-xs-2">
            Summoner Icon
          </div>
          <div class="col-sm-3 col-xs-3">
            Summoner name
          </div>
          <div class="col-sm-3 col-xs-3">
            Summoner level
          </div>
          <div class="col-sm-2 col-xs-2">
            Account ID
          </div>
          <div class="col-sm-2 col-xs-2">
            Summoner ID
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-2 col-xs-2">
            <img width="30" height="30" ng-src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/profileicon/{{model.summoner.profileIconId}}.png">
          </div>
          <div class="col-sm-3 col-xs-3">
            {{model.name}}
          </div>
          <div class="col-sm-3 col-xs-3">
            {{model.level}}
          </div>
          <div class="col-sm-2 col-xs-2">
            {{model.accountID}}
          </div>
          <div class="col-sm-2 col-xs-2">
            {{model.summonerID}}
          </div>
        </div>
      </li>
      <li ng-if="model.summoner">
        <div class="row">
            <button
              type="button"
              class="btn btn-info"
              ng-click="model.searchMatch(model.summoner.accountId)">
              Recent Matches
            </button>
            <button
              type="button"
              class="btn btn-primary">
              <a target="_blank" href="#!/runes/{{model.summonerID}}">
                <span class="white">His Runes</span></a>
            </button>


            <button
              type="button"
              class="btn btn-primary">
              <a target="_blank" href="#!/masteries/{{model.summonerID}}">
                <span class="white">His Masteries</span></a>
            </button>

            <button ng-if="model.currentUser._id"
                    type="button"
                    class="btn btn-success"
                    ng-click="model.addToFollowing(model.summoner)">
              follow him
            </button>

        </div>
      </li>
    </ul>
  </div>
  <div class="btn-group">

  </div>
</div>

        <!--<a ng-click="model.searchMatch(model.summoner.accountId)"><h2>matches detail</h2></a>-->
        <!--<a class="btn btn-primary btn-block" ng-click="model.register(username, password, password2)">-->
        <!--Register</a>-->

        <div class="container-fluid">
          <table ng-if="model.matches">
            <tr>
              <th>match Id</th>
              <th>champion</th>
              <th>server</th>
              <th>time</th>
              <th>queue</th>
              <th>role</th>
              <th>season</th>
              <th>lane</th>
            </tr>
            <tr ng-repeat="match in model.matches">
              <td>{{match.gameId}}</td>
              <td>{{match.champion}}</td>
              <td>{{match.platformId}}</td>
              <td>{{model.timeConverter(match.timestamp)}}</td>
              <td>{{match.queue}}</td>
              <td>{{match.role}}</td>
              <td>{{match.season}}</td>
              <td>{{match.lane}}</td>
            </tr>
          </table>
        </div>






