
<div class="wd-widget-list">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid">
            <div class="navbar-header col-sm-12">
                <div class="navbar-text pull-left">
                    <a href="#!/user/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left white pull-left">
                        </span>
                    </a>
                </div>

                <span class="navbar-brand">
                    Widgets
                </span>
                <div class="navbar-text pull-right">
                    <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-plus white pull-right">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>


<div class="container-fluid ng-scope ui-sortable"  wd-draggable>

    <ul ng-repeat="widget in model.widgets"
        class="wd-widget" id="{{widget.name}}">
        <li >
            <div class="wd-widget">
                <div class="wd-widget-toolbar" id="zindex2">
                    <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <div ng-include="model.getWidgetUrlForType(widget.type)" id="zindex1"></div>
            </div>
        </li>
    </ul>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>

</div>