
<nav class="navbar navbar-default navbar-fixed-top backBlue">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left" >
                <a href="#!/user/website">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <span class="navbar-brand white">
                    Websites
                </span>
            </div>
            <div class="navbar-text pull-right">
                <a href="#!/user/website/new">
                    <span class="glyphicon glyphicon-plus white"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left">
                <a href="#!/user/website">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWebsite(model.website)">
                    <span class="glyphicon glyphicon-ok white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <span class="navbar-brand white">
                    Edit Website
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                        <a href="#!/user/website/{{website._id}}/page">
                            <span>{{website.name}}</span>
                        </a>
                    </div>
                    <div class="col-lg-3 visible-lg">
                        {{website.created | date}}
                    </div>
                    <div class="col-md-3 hidden-sm  hidden-xs">
                        {{website.updated | date}}
                    </div>
                    <div class="col-sm-1">
                        <a href="#!/user/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="col-xs-12 col-sm-8 pull-right">
        <form>
            <div class="form-group">
                <label for="name">Website Name</label>
                <input type="text"
                       ng-model="model.website.name"
                       class="form-control"
                       id="name"
                       placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Description">Website Description</label>
                <textarea class="form-control"
                          ng-model="model.website.description"
                          rows="5" id="Description"
                          placeholder="Description">
                </textarea>
            </div>
        </form>
        <a ng-click="model.updateWebsite(model.website)"
           class="btn btn-success  btn-block">
            Update
        </a>
        <a ng-click="model.deleteWebsite(model.websiteId)"
           class="btn btn-danger  btn-block">
            Delete
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="#!/profile">
                <span class="glyphicon glyphicon-user white"></span>
            </a>
        </div>
    </div>
</nav>