<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header col-sm-12">
      <p class="navbar-text pull-left">
        <a class="navbar-link" href="#!/profile">
          <span class="glyphicon glyphicon-chevron-left white">
          </span>
        </a>
      </p>
      <p class="navbar-text pull-left">
        <a class="navbar-link">
          <span class="white">your rune collections</span>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-sm-3 col-xs-3">
          Page Name
        </div>
        <div class="col-sm-3 col-xs-3">
          date added
        </div>
        <div class="col-sm-3 col-xs-3">
          slots
        </div>
        <div class="col-sm-2 col-xs-2">
          page id
        </div>
        <div ng-if="model.userId" class="col-sm-1 col-xs-1">
          <span>delete It</span>
        </div>
      </div>
    </li>


    <li ng-repeat="page in model.pages" class="list-group-item">
      <div class="row">
        <div class="col-sm-3 col-xs-3">
            <span>{{page.pageName}}</span>
        </div>
        <div class="col-sm-3 col-xs-3">
          {{page.dateFollowing}}
        </div>
        <div class="col-sm-3 col-xs-3" ng-click="model.showDetails(page)">
          <a><span>show details below</span></a>
        </div>
        <div class="col-sm-2 col-xs-2">
          {{page.pageID}}
        </div>
        <div ng-if="model.userId" class="col-sm-1 col-xs-1">
          <a ng-click="model.deleteRunes(page)">
            <i class="glyphicon glyphicon-remove pull-right"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="container-fluid">
      <table ng-if="model.runes">
        <tr>
          <th>tier</th>
          <th>name</th>
          <th>id</th>
          <th>icon</th>
          <th>type</th>
          <th>description</th>

        </tr>
        <tr ng-repeat="rune in model.runes">
          <td>{{rune.rune.tier}}</td>
          <td>{{rune.name}}</td>
          <td>{{rune.id}}</td>
          <td><img width="25" height="25" src="{{rune.imgUrl}}"></td>
          <td>{{rune.rune.type}}</td>
          <td>{{rune.description}}</td>
        </tr>
      </table>
    </div>

