
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-header col-sm-12">
            <div class="navbar-text pull-left">
                <a href="../Website%20Pages/website-list.html">
          <span class="glyphicon glyphicon-chevron-left white pull-left">
          </span>
                </a>
            </div>

            <a href="../Website%20Pages/website-list.html"><span class="navbar-brand">
                Pages
            </span></a>
            <div class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
          <span class="glyphicon glyphicon-plus white pull-right">
          </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<!--<div class="row container-fluid">-->
    <!--<div>-->
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item">-->
                <!--Blogg Post-->
                <!--<a href="page-edit.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right" ></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="list-group-item">Blogs-->
                <!--<a href="page-edit.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="list-group-item">Home-->
                <!--<a href="page-edit.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="list-group-item">About-->
                <!--<a href="page-edit.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="list-group-item">Contact Us-->
                <!--<a href="page-edit.view.client.html">-->
                    <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                <!--</a>-->
            <!--</li>-->

        <!--</ul>-->
    <!--</div>-->

<!--</div>-->

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    Page Name
                </div>
                <div class="col-sm-1 pull-right">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                        <span class="glyphicon glyphicon-plus pull-right white"></span>
                    </a>
                </div>
            </div>
        </li>


        <li ng-repeat="page in model.pages" class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                </div>
                <div class="col-sm-1 pull-right">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white"></span>
            </a>
        </div>
    </div>
</nav>