
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <div class="navbar-header col-sm-12">
      <div class="navbar-text pull-left">
        <a href="#!/user/website/{{model.websiteId}}/page">
          <span class="glyphicon glyphicon-chevron-left white pull-left">
          </span>
        </a>
      </div>

      <span class="navbar-brand">
        Edit Page
      </span>
      <div class="navbar-text pull-right">
        <a ng-click="model.updatePage(model.page)">
          <span class="glyphicon glyphicon-ok white pull-right">
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             ng-model="model.page.name"
             class="form-control"
             id="name"
             placeholder="Page Name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        ng-model="model.page.description"
        class="form-control"
        id="description"
        rows="5"
        placeholder="Page Description">

      </textarea>
    </div>
  </form>
  <a class="btn btn-block btn-success" ng-click="model.updatePage(model.page)">
    Update
  </a>
  <a class="btn btn-block btn-danger" ng-click="model.deletePage(model.pageId)">
    Delete
  </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header pull-right">
      <a class="navbar-brand" href="#!/profile">
        <span class="glyphicon glyphicon-user white"></span>
      </a>
    </div>
  </div>
</nav>
