
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header col-sm-12">
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-ok white">
                    </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#!/project/register" class="navbar-link">
                    <span class="white">
                        register
                    </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#!/project/login" class="navbar-link">
                    <span class="white">
                        login
                    </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#!/project/profile" class="navbar-link">
                    <span class="white">
                        profile
                    </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#!/project/home" class="navbar-link">
                    <span class="white">
                        home
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-controller="proxyController as model">


    <div class="input-group">
        <label for="search"></label>
        <input ng-model="searchText"
               type="text"
               id="search"
               class="form-control"
        placeholder="search summoner">
        <span class="input-group-btn">
        <a ng-click="model.searchSummoner(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

<div class="container-fluid">
    <h2>{{model.name}}</h2>
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/profileicon/{{model.summoner.profileIconId}}.png">
    <h2>{{model.summonerLevel}}</h2>
    <h2>{{model.id}}</h2>
    <h2>{{model.summonerID}}</h2>
    <h2>{{model.date}}</h2>
    <a ng-click="model.searchMatch(model.summoner.accountId)"><span>matches detail</span></a>
    <div class="container-fluid">
        <table ng-if="model.matches" style="width:100%">
            <tr>
                <th>lane</th>
                <th>gameId</th>
                <th>championId</th>
                <th>server</th>
                <th>timestamp</th>
                <th>queue</th>
                <th>role</th>
                <th>season</th>
            </tr>
            <tr ng-repeat="match in model.matches">
                <td>{{match.lane}}</td>
                <td>{{match.gameId}}</td>
                <td>{{match.champion}}</td>
                <td>{{match.platformId}}</td>
                <td>{{match.timestamp}}</td>
                <td>{{match.queue}}</td>
                <td>{{match.role}}</td>
                <td>{{match.season}}</td>
            </tr>
        </table>


    </div>
</div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white"></span>
            </a>
        </div>
    </div>
</nav>


